#root{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}


.gameButton {
    border-radius: 5px;
    margin: 2em;
}

.gameComponents{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}